@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:500');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	/*background-image: url("../unit_6/images/fmglobe.jpg");*/
	/*background-size: cover;*/
	line-height:1.5;
}

a {
	text-decoration: none;
	color: #4E79AB;
}	
nav {
	font-size: .5em;
	font-family: 'Poppins', sans-serif;
	color: black;
	text-transform: uppercase;
}


ul {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}

p {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}
main {
	/*margin-top: 2em;*/
	width: 100%;
}

footer {
	/*color: #00003D;*/
	/*width: 100%;*/
	/*clear: both;*/
	/*text-align: center;	*/
	
}

footer ul li {
	/*display: inline;*/
	/*width: 100%;*/
	
	/*clear: both;*/

	
}

footer span p {
	/*display: inline;*/
	/*width: 100%;*/

}

img {
	/*width: 15%;*/
	/*max-height: 300px;*/
}

aside {
	width: 25%;
	/*border: 1px solid black;*/
	float: left;
}

aside img{
	width: 40%;
	margin: 10em 0 0 10em;
	/*min-height: 10em;*/
}

a:hover {
	color:white;
	background-color: black;
}

.wrapper {
	width: 100%;
	/*border: 3px solid black;*/
}

#navbar {
	width: 100%;
	background-color: beige; 
	font-size: 1em;
	/*text-align: center;*/
	/*border: 1px solid #E0B900;*/
	/*padding: 0 5em;*/
}

#navbar a {
	padding: 0 5em;
	margin-left: 10em;

}

#bigdave {
	width: 100%;
	font-family: 'Great-Vibes', cursive;
	/*border: 1px solid red;*/
	/*float: left;*/
	text-align: center;
	/*text-transform: uppercase;*/
	/*font-size: .5em;*/
}



#biopanel img {
	/*background-size: cover;*/
	/*background-image: url("../unit_6/images/fmglobe.jpg");*/
	/*border: 3px solid purple;*/
	float: right;
	width:20%;
	/*margin: 3em 0 0 20%;*/

}

#biopanel{
	width: 50%;
	float: left;
	padding: 1em;
	/*margin-bottom: 1em;*/
	/*border: 1px solid black;*/
}

#funfacts {
	margin-left: 1em;
	padding: 1em 1em;
}

.bio {
	/*border: 2px solid brown;*/
	/*float: right;*/
	/*width: 50%;*/
	/*margin: 1em 0 0 1em;*/
	/*padding:1em;*/
	/*min-height: 25em;*/
}

#quote {
	padding-bottom: 1em;
	font-family: 'Great-Vibes', cursive;
	font-size: 1.5em;
	color: #B29C33;
}

#peace {
	/*clear: both;*/
	text-align: center;
	/*width: 100%;*/
}

#experiences {

	/*width: 25%*/
	/*clear: both;*/
	/*border: 5px solid brown;*/
}


#experiencetitle {
	width: 100%;
	/*border: 2px solid red;*/
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: beige; 
	/*margin: 1em auto;*/
	/*min-height: 200px;*/
	clear: both;

}

.experience {
	border: 1px solid orange;
	width: 25%
	/*max-height: 60em;*/
	/*float: right;*/
	/*width: 25%;*/
	
}

.experience h3{
	text-align: center;
	font-family: 'Poppins', sans-serif
	padding: 0 1em;
}

.experience p {
	padding-left: 1em;
}



#rtw {
	float:left;
	min-height: 40em;
	background-color: #DED082
	/*margin-left: 1em;*/
}



#aa {
	float: left;
	min-height: 40em;
	background-color: #CC8062
}

#tbl {
	float: left;
	min-height: 40em;
	background-color: #6192B1
}

#fore {
	float: right;
	min-height: 40em;
	background-color: #702F94
}



#contactinfo {
	clear: both;
	font-family: 'Merriweather';
	/*border: 1px solid #E0B900;*/
	width: 100%;
	min-height: 5em;
	/*margin-left: 5em;*/
	background-color: #000F30;
	

}

#contactinfo p {
	/*clear: both;*/
	/*width: 100%*/
	display: inline;
	text-align: center;
	padding: 1em 4em 1em 4em;
	
	color: white;


}


#resumebutton {
	/*background-color: white;*/
}
















.aboutwrapper {
	border: 2px solid #E0B900;
	background-color: #332B12;
}



.aboutmain {
	background-color: #EDEDED;
	
}
#bondpaper {
	border: 1.5px solid black;
}

.reswrapper {
	border: 3px solid black;
	background-color: #6F1716;
}

	

.resumebody {

}

.resumebody h2  {
	text-align: center;
	padding-bottom: .75em;
	color: #6F1716

}

.resumebody h3 {
	padding-bottom: 1.25em;
}

.resumebody p {
	padding-bottom: 1em;
}

.resumebody ul li {
	margin-left: 1.5em;
	line-height: 1.2em;
	padding-bottom: 1.5em;
}

.resumeheader {
	border: 1.5px solid black;
	background-color: #FFF9D9;
}

.resumeheader ul li {
	display: inline;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	padding: .5em 0 0 .5em;
	color: #6F1716;
	
}

#RUR {
	font-family: Yesteryear, cursive;
	font-size: 1.5em;
	text-align: center;
}



/*.experiencefooter{
	
	background-color: white;
	color: #040426;
	text-align: center;
	padding-top: .5em;
	clear: both;
	margin-top: 5em;


}
 .experiencefooter p {
 	display: inline;
 	text-decoration: none;
 	background-color: #DE5C81;
 	padding: .5em;
 	font-size: 1.25em;
 	/*margin-top: 5em;*/*/
 	


 }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;

}


#dusk {
	padding-top: 1em;
}
