@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:500');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-image: url("../unit_6/images/fmglobe.jpg");
	background-size: cover;
	line-height:1.5;
}

a {
	text-decoration: none;
	color: #4E79AB;
}	
nav {
	font-size: .5em;
	font-family: 'Merriweather', serif;
	color: black;
	text-transform: uppercase;
}


ul {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}

p {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}
main {
	margin-top: 2em;
}

footer {
	color: #00003D;	
}

footer ul li {
	display: inline;
}

img {
	width: 100%;
}
.block {
	width: 100em;
	background-color: #E0B900;
	height: 10em;
	/*margin-left: 7.5em;*/
	margin: 1em 2.5em 0em 7.5em;
	border: 1px solid #090026;
}

.wrapper {
	max-width: 80em;
	border: 1px solid #E0B900;
	background-color: #090026;
	margin: auto;
	padding: 4em;
}

.navbar {
}
.navbar ul li {
	display: inline;
	/*background-color: beige;*/
	font-size: 2em;
	/*padding: 2em 1.5em 2em 1em;*/
	border: 1px solid #E0B900;
	/*margin-left: 1em;*/
	margin: 4em 0 0 1em;
	

}

.slogans {
	text-align: center;
	clear: both;
}

.slogans h1 {
	font-size: 3em;
}

.slogans h2 {
	font-size: 2em;
	margin-top: 1em;
}

.intro {
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	color: #332B12;

}

.contactinfo {
	font-size: 1em;
	font-family: 'Merriweather';
	border: 1px solid #E0B900;
	color: #4E79AB;
	background-color: #EDEDED;
	width: 49%;
	float: left;
	margin: .5%;
	padding: 2em;
	min-height: 13em;
}

.socialmedia {
	color: #00003D;
	font-family: 'Merriweather';
	border: 1px solid #E0B900;
	clear: both;
	background-color: #EDEDED;



}
#resumebutton {
	background-color: white;
}
/*
#do1971 {
	clear: both;
	padding-left: 2em;
}

#sesc2014 {
	float: right;
	/*padding-right: 2em;*/
	/*padding: 0 2em 1em 0;*/
}*/


















.aboutwrapper {
	border: 2px solid #E0B900;
	background-color: #332B12;
}

.me img { 
	border: 1px solid #E0B900;
}

.me p {
	border: 1px solid #E0B900;
	float: right;
	color: #090026;
	background-color: #4E79AB;
}

.aboutmain {
	background-color: #EDEDED;
	
}
#bondpaper {
	border: 1.5px solid black;
}

.reswrapper {
	border: 3px solid black;
	background-color: #6F1716;
}

	

.resumebody {

}

.resumebody h2  {
	text-align: center;
	padding-bottom: .75em;
	color: #6F1716

}

.resumebody h3 {
	padding-bottom: 1.25em;
}

.resumebody p {
	padding-bottom: 1em;
}

.resumebody ul li {
	margin-left: 1.5em;
	line-height: 1.2em;
	padding-bottom: 1.5em;
}

.resumeheader {
	border: 1.5px solid black;
	background-color: #FFF9D9;
}

.resumeheader ul li {
	display: inline;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	padding: .5em 0 0 .5em;
	color: #6F1716;
	
}

#RUR {
	font-family: Yesteryear, cursive;
	font-size: 1.5em;
	text-align: center;
}

.experienceheader h2 {
	font-size: 2em;
	text-align: center;

}

.experiencewrapper {
	border: 5px solid black;
	padding-top: 1em;
}

.righttowork {
	float: left;
	border: 2px solid black;
	padding: 1em;
	background-color: #E06354;
}

.righttowork h3 {
	text-align: center;
	padding-bottom: 1em;

}

.righttowork p {
	padding-bottom: 1em;
}

.acquiringassets {
	float: right;
	border: 2px solid green;
	padding: 1em;
	background-color: #8FCBED;


}

.acquiringassets h3 {
		text-align: center;
		padding-bottom: 1em;


}

.acquiringassets p {
		


}

.thebottomline {
	float: left;
	border: 2px solid red;
	background-color: #040426;
	color: #E4E7D2;
	padding: 1em;

}

.thebottomline h3 {
	text-align: center;
	padding-bottom: 1em;


}

.forecast {
	float: right;
	border: 2px solid gold;
	background-color: #E4E7D2;
	padding: 1em;


}

.forecast h3 {
	text-align: center;
	padding-bottom: 1em;
}

.experiencefooter{
	clear: both;
	background-color: white;
	color: #040426;
	text-align: center;
	padding-top: .5em;


}
 .experiencefooter p {
 	display: inline;
 	text-decoration: none;
 	background-color: #DE5C81;
 	padding: .5em;
 	font-size: 1.25em;


 }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


#dusk {
	padding-top: 1em;
}
