@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:500');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font: 16px;
	background-image: url("../unit_5/images/fmglobe.jpg");
	background-size: cover;	
}

a {
	text-decoration: none;
	color: #4E79AB;
}

header {
	height: 2em;
	border: 1px solid black;
	width: 75em;


}	

nav {
	font-size: .5em;
	font-family: 'Merriweather', serif;
	color: black;
	text-transform: uppercase;
	}


ul {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}

p {
	font-size: 1em;
	font-family: 'Merriweather', serif;
}


main {
	height: 75em;
	width: 100em;
	
	

}

footer {
	width: 75em;
	line-height: 1.5em;
	border: 1px solid black;
	color: #00003D;
	background-color: green;
	height: 5em;
	/*margin-bottom: 40em;*/
	padding-top: 2em;


}

aside {
	color: black;
	height: 10em;
	float: right;

}

img {
	width: 75em;
	height: 81em;
	margin: 2em 0 15 1em;
}

.wrapper {
	width: 100em;
	border: 2px solid red;
	height: 100em;
	background-color: #beige;
	margin-left: 2em;
}

.navbar {


}
.navbar ul li {
	display: inline;
	background-color: beige;
	font-size: 2em;
	padding: .5em .5em;
	border: 2px solid black;
	margin-left: 2em;
	

}

.slogans {
	line-height: 1.5em;
	height: 8em;
	border: 2px solid black;
	width: 60em;
	margin: 3em 0 0 12.5em;
	text-align: center;

	
}

.slogans h1 {
	font-size: 3em;
}

.slogans h2 {
	font-size: 2em;
	margin-top: 1em;

}

.intro {
	font-family: 'Merriweather', serif;
	line-height: 1.5em;
	font-size: 1.4em;
	color: #332B12;
	width: 30em;
	border: 1px solid black;
	margin: 2em 0 0 11.5em;

}

#introA {
	border: 2px solid black;
	height: 5em;
	width: 30em;

	
}

#introB {
	border: 1px solid black;
	height: 10em;
	width: 30em;
	/*margin-left: 1em;*/
	margin: 1em 0 0 1em;

}

#introC {
	border: 1px solid black;
	height: 13em;
	width: 30em;
	margin-top: 1em;
	
}

#introD {
	border: 1px solid black;
	height: 3em;
	width: 30em;
	margin-top: 1em;
	
	
}

.contactinfo {
	font-size: 1em;
	line-height: 1.5em;
	font-family: 'Merriweather';
	width: 20em;
	height: 20em;
	border: 1px solid black;
	margin-right: 1em;
	
}

.socialmedia {
	color: #00003D;
	font-size: .75em;
	font-family: 'Merriweather';
	border: 1px solid black;
	margin: 30em 0 0 20em;


}


#resumebutton {
	background-color: #EB9F60;
}
















}
#firebox {
	width: 40em;

}

#bondpaper{
	height: 200em;
}

#birdsonfence {
	width: 50em;
	height: 20em;
}

#unionsquarenight {
	width: 50em;

}

.me {
	width: 35em;
	text-align: center;
}

	

.resumebody {
	width: 45em;
	padding-left: 20em;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-bottom: 20em;

}

.resumeheader {

}

.experienceheader {

}

.righttowork {
	width: 30em;
}



#dusk {
	width: 10em;
	height:8em;
	padding-top: 1em;